{% extends 'base.html.twig' %}
{% block title %}PlayGe{% endblock %}

{% block body %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="js/jQuery.js"></script>
    <script src="js/crash.js"></script>
   <!-- CSS only -->
   <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
   <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
  <link rel="stylesheet" href="./css/css.css" type="text/css">
  </head>
    <title>Play Ge</title>
</head>
<body>

  <div class="container">
    <div class="row mt-4 bg-dark">
        <div class="col-12  col-sm-4 mt-4 mb-4">

            <small id="emailHelp" class="form-tex text-light">Apuesta</small>

            <div class="input-group mb-3">

               <div class="input-group-prepend">
                  <button class="btn btn-outline-secondary" type="button">Button</button>
                </div>

               <input type="number" class="form-control inputCredito"  min="1" max="30000" value="1" >

               <div class="input-group-append">
                 <button class="btn btn-outline-secondary multiplicaCreditos" type="button" value="1.5">X 1.5</button>
                 <button class="btn btn-outline-secondary multiplicaCreditos" type="button" value="2">X 2</button>
               </div>
            </div>

            <div class="d-grid gap-2">
                <button class="btn btn-warning empieza-crash" type="button">Empezar juego</button>
            </div>
    
            <div class="d-grid gap-2">
                <button class="btn btn-danger mt-5 mantener-crash" type="button">Mantener</button>
            </div>
            <p class="text-light justify-content-center muestraDelResultado"></p>
        </div>

        <div class="col-12  col-sm-8 mt-4 mb-4 pb-4 ">
            <div class="row mb-3">
                <div class="col-4">
                    <p class="text-light">Multiplicador</p>
                </div>
                <div class="col-6">
                    <p class="text-light  font-weight-bold numeroMultiplicado"></p>
                </div>
            </div>
            <div class="recuadroMovimiento-cohete">
            <img class="rocket-img" src="./css/imgs/rocket0.png"> 
            </div>       
        </div>

        


    </div>
  </div>
  


</body>
{% endblock %}

