{% extends 'base.html.twig' %}

{% block title %}PlayGe{% endblock %}

{% block body %}
    <script src="js/juegoBomba.js"></script>
    <script src="js/juegoBombas2.js"></script>

<body>
<div class="container">
      <div class="row mt-4 bg-dark mx-0">
         <div class="col-12 col-sm-4 mt-4 mb-4">

            <small id="emailHelp" class="form-tex text-light">Apuesta</small>

            <div class="input-group mb-3">

               <div class="input-group-prepend">
                  <button class="btn btn-outline-secondary" type="button">Button</button>
                </div>

               <input type="number" class="form-control inputCreditoBombas"  min="1" max="30000" value="1" >

               <div class="input-group-append">
                 <button class="btn btn-outline-secondary multiplicaCreditos" type="button" value="1.5">X 1.5</button>
                 <button class="btn btn-outline-secondary multiplicaCreditos" type="button" value="2">X 2</button>
               </div>
             </div>

            <small id="emailHelp" class="form-tex text-light">Número de minas</small>

            <div class="input-group mb-3">
               <div class="input-group-prepend">
                 <button class="btn btn-outline-secondary masBombas" value="1" type="button">1</button>
                 <button class="btn btn-outline-secondary masBombas" value="3" type="button">3</button>
                 <button class="btn btn-outline-secondary masBombas" value="5" type="button">5</button>
                 <button class="btn btn-outline-secondary masBombas" value="7" type="button">7</button>
                 <button class="btn btn-outline-secondary masBombas" value="10" type="button">10</button>
                 <button class="btn btn-outline-secondary focused" type="button">Personalizar</button>
                 
               </div>
               <input type="number" class="form-control inputBombas" min="1" max="24" value="1" placeholder="" aria-label="" aria-describedby="basic-addon1">
             </div>
            

            <div class="d-grid gap-2">
                <button class="btn btn-warning empieza-bombas" type="button">Empezar juego</button>
            </div>

            <h4 class="mt-5 mb-3 px-4 bg-success text-white rounded resultado-bombas"></h4>
         </div>

         <div class="col-12 col-sm-8">
            <div class="row mt-2 mb-2">
                <div class="col col-bomba">
                  <button class="boton-bomba"></button>
                </div>
                <div class="col col-bomba">
                   <button class="boton-bomba"></button>
                </div>
                <div class="col col-bomba">
                  <button class="boton-bomba"></button>
                </div>
                <div class="col col-bomba">
                  <button class="boton-bomba"></button>
                </div>
                <div class="col col-bomba">
                  <button class="boton-bomba"></button>
                </div>
             </div>

             <div class="row mt-2 mb-2">
               <div class="col col-bomba">
                 <button class="boton-bomba"></button>
               </div>
               <div class="col col-bomba">
                  <button class="boton-bomba"></button>
               </div>
               <div class="col col-bomba">
                 <button class="boton-bomba"></button>
               </div>
               <div class="col col-bomba">
                 <button class="boton-bomba"></button>
               </div>
               <div class="col col-bomba">
                 <button class="boton-bomba"></button>
               </div>
            </div>
            <div class="row mt-2 mb-2">
               <div class="col col-bomba">
                 <button class="boton-bomba"></button>
               </div>
               <div class="col col-bomba">
                  <button class="boton-bomba"></button>
               </div>
               <div class="col col-bomba">
                 <button class="boton-bomba"></button>
               </div>
               <div class="col col-bomba">
                 <button class="boton-bomba"></button>
               </div>
               <div class="col col-bomba">
                 <button class="boton-bomba"></button>
               </div>
            </div>

            <div class="row mt-2 mb-2">
               <div class="col col-bomba">
                 <button class="boton-bomba"></button>
               </div>
               <div class="col col-bomba">
                  <button class="boton-bomba"></button>
               </div>
               <div class="col col-bomba">
                 <button class="boton-bomba"></button>
               </div>
               <div class="col col-bomba">
                 <button class="boton-bomba"></button>
               </div>
               <div class="col col-bomba">
                 <button class="boton-bomba"></button>
               </div>
            </div>

            <div class="row mt-2 mb-2">
               <div class="col col-bomba">
                 <button class="boton-bomba"></button>
               </div>
               <div class="col col-bomba">
                  <button class="boton-bomba"></button>
               </div>
               <div class="col col-bomba">
                 <button class="boton-bomba"></button>
               </div>
               <div class="col col-bomba">
                 <button class="boton-bomba"></button>
               </div>
               <div class="col col-bomba">
                 <button class="boton-bomba"></button>
               </div>
            </div>
         </div>
      </div>
   
 
  <!-- Fin de vara de navegacion-->

   <!-- Jugadas Destacadas o Jugadores destacados-->
   
      <div class=" col-12 mt-5">
         <div class="card w-100 mb-3 bg-dark ">
         <h4 class="card-title text-light mt-1 mb-1 justify-content-center mx-auto text-center">Jugadas destacadas</h4>
         <div class="card-body ganancias">

            <div class="mensaje-resultados col-12 border-bottom border-light mt-3">
               <div class="row">
                  <div class="col-4">
                     <p class="text-light">nombre de usuario</p>
                  </div>
                  <div class="col-4">
                     <p class="text-light">juego</p>
                  </div>
                  <div class="col-4">
                     <p class="text-light">resultado</p>
                  </div>
               </div>
            </div>

            <div class="mensaje-resultados col-12 border-bottom border-light mt-3">
               <div class="row">
                  <div class="col-4">
                     <p class="text-light">nombre de usuario</p>
                  </div>
                  <div class="col-4">
                     <p class="text-light">juego</p>
                  </div>
                  <div class="col-4">
                     <p class="text-light">resultado</p>
                  </div>
               </div>
            </div>

         </div>
         </div>
      </div>
   </div>
</body>

{% endblock %}