{% extends 'base.html.twig' %}
{% block title %}PlayGe{% endblock %}

{% block body %}
 <script src="js/towers.js"></script>
<body>



  <div class="container">
    <div class="row mt-4 bg-dark mx-0">
       <div class="col-12 col-sm-4 mt-4 mb-4">

          <small id="emailHelp" class="form-tex text-light">Apuesta</small>

          <div class="input-group mb-3">

             <div class="input-group-prepend">
                <button class="btn btn-outline-secondary" type="button">Button</button>
              </div>

             <input type="number" class="form-control inputCreditoTowers"  min="1" max="30000" value="1" >

             <div class="input-group-append">
               <button class="btn btn-outline-secondary multiplicaCreditos" type="button" value="1.5">X 1.5</button>
               <button class="btn btn-outline-secondary multiplicaCreditos" type="button" value="2">X 2</button>
             </div>
           </div>

          <div class="d-grid gap-2">
              <button class="btn btn-warning empieza-torres" type="button">Empezar juego</button>
          </div>

          <h4 class="mt-5 mb-3 px-4 bg-success text-white rounded resultado-towers"></h4>
       </div>

       <div class="col-12 col-sm-8">
          <div class="row mt-4 mb-2 mx-5">
              <div class="col-4">
                <button class="boton-torre"></button>
              </div>
              <div class="col-4">
                <button class="boton-torre"></button>
              </div>
              <div class="col-4">
                <button class="boton-torre"></button>
              </div>

              <div class="col-4">
                <button class="boton-torre"></button>
              </div>
              <div class="col-4">
                <button class="boton-torre"></button>
              </div>
              <div class="col-4">
                <button class="boton-torre"></button>
              </div>

              <div class="col-4">
                <button class="boton-torre"></button>
              </div>
              <div class="col-4">
                <button class="boton-torre"></button>
              </div>
              <div class="col-4">
                <button class="boton-torre"></button>
              </div>

              <div class="col-4">
                <button class="boton-torre"></button>
              </div>
              <div class="col-4">
                <button class="boton-torre"></button>
              </div>
              <div class="col-4">
                <button class="boton-torre"></button>
              </div>

              <div class="col-4">
                <button class="boton-torre"></button>
              </div>
              <div class="col-4">
                <button class="boton-torre"></button>
              </div>
              <div class="col-4">
                <button class="boton-torre"></button>
              </div>

              <div class="col-4">
                <button class="boton-torre"></button>
              </div>
              <div class="col-4">
                <button class="boton-torre"></button>
              </div>
              <div class="col-4">
                <button class="boton-torre"></button>
              </div>

              <div class="col-4">
                <button class="boton-torre"></button>
              </div>
              <div class="col-4">
                <button class="boton-torre"></button>
              </div>
              <div class="col-4">
                <button class="boton-torre"></button>
              </div>

              <div class="col-4">
                <button class="boton-torre"></button>
              </div>
              <div class="col-4">
                <button class="boton-torre"></button>
              </div>
              <div class="col-4">
                <button class="boton-torre"></button>
              </div>

              <div class="col-4">
                <button class="boton-torre"></button>
              </div>
              <div class="col-4">
                <button class="boton-torre"></button>
              </div>
              <div class="col-4">
                <button class="boton-torre"></button>
              </div>

              <div class="col-4">
                <button class="boton-torre"></button>
              </div>
              <div class="col-4">
                <button class="boton-torre"></button>
              </div>
              <div class="col-4">
                <button class="boton-torre"></button>
              </div>
          </div>
       </div>
    </div>
 

<!-- Fin de vara de navegacion-->


 


  <!-- JavaScript Bundle with Popper overflow scroll -->


 
</body>
</html>
{% endblock %}